# Ignorar a pasta
node_modules/

# Ignorar Banco de Dados
./data/reservas.db

# Arquivos de log que podem ser gerados
npm-debug.log*
*.log

# Arquivos de sistema operacional que não fazem parte do projeto
.DS_Store
Thumbs.db

# Arquivos de ambiente (para senhas e segredos)
.env